@{
    ViewData["Title"] = "JavaScript";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <h1>JavaScript</h1>

<ul>
    <li>
        <a asp-action="Index" asp-controller="Easy">Easy</a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Advanced">Advanced</a>
    </li>
</ul>