@page
@model RazorPagesAndMvc.Pages.CSharp.Advanced.IndexModel
@{
    ViewData["Title"] = "Advanced";
}

<h1>Advanced</h1>

<ul>
    <li>
        <a asp-page="/CSharp/Advanced/Post1">Post 1</a>
    </li>
</ul>