@page
@model RazorPagesAndMvc.Pages.CSharp.Easy.IndexModel
@{
ViewData["Title"] = "Easy";
}

<h1>Easy</h1>

<ul>
    <li>
        <a asp-page="/CSharp/Easy/Post1">Post 1</a>
    </li>
    <li>
        <a asp-page="/CSharp/Easy/Post2">Post 2</a>
    </li>
</ul>