
@{
    ViewData["Title"] = "Advanced";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Advanced</h1>

<p>Culture: <a asp-route-culture="en">EN</a> / <a asp-route-culture="ca">CA</a> / <a asp-route-culture="es">ES</a></p>