@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Index</h1>

<ul>
    <li>
        Index
        <ul>
            <li>
                <a asp-page="/CSharp/Index">C# - CSharp</a>
                <ul>
                    <li>
                        <a asp-page="/CSharp/Easy/Index">Easy</a>
                        <ul>
                            <li>
                                <a asp-page="/CSharp/Easy/Post1">Post 1</a>
                            </li>
                            <li>
                                <a asp-page="/CSharp/Easy/Post2">Post 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-page="/CSharp/Advanced/Index">Advanced</a>
                        <ul>
                            <li>
                                <a asp-page="/CSharp/Advanced/Post1">Post 1</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Java">Java</a>
                <ul>
                    <li>
                        <a asp-action="Index" asp-controller="EasyJava">Easy</a>
                        <ul>
                            <li>
                                <a asp-action="Post1" asp-controller="EasyJava">Post 1</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="AdvancedJava">Advanced</a>
                        <ul>
                            <li>
                                <a asp-action="Post1" asp-controller="AdvancedJava">Post 1</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a asp-action="XssTest" asp-controller="Other">XSS Test</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Home" asp-area="VisualBasic">Visual Basic</a>
                <ul>
                    <li>
                        <a asp-action="Index" asp-controller="Easy" asp-area="VisualBasic">Easy</a>
                        <ul>
                            <li>
                                <a asp-action="Sub" asp-controller="Easy" asp-area="VisualBasic">Sub Easy</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-action="More" asp-controller="Easy" asp-area="VisualBasic">More Easy</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Advanced" asp-area="VisualBasic">Advanced</a>
                    </li>
                </ul>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Home" asp-area="JavaScript">JavaScript</a>
                <ul>
                    <li>
                        <a asp-action="Index" asp-controller="Easy" asp-area="JavaScript">Easy</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Advanced" asp-area="JavaScript">Advanced</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a asp-page="/About">About</a>
    </li>
</ul>